modules = ["web", "nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = 3453140
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
